
.hed{
    font-family: Bungee Spice;
    margin-left: 400px;
}


.abt{
    font-family: Bungee Spice ;
     margin-left: 600px;
}

.phr{
    font-size: 25px;
    font-family: Oswald;
}

.card{
    
}